

.cadastro {
  width: 30vw;
  margin: 40px auto;
  display: flex;
  flex-wrap: wrap;
  color: white;
}

div{
    width: 100%;
}


h2 {
  width: 100%;
  font-size: 24px;
}
.form {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 18px auto;
}

.form input {
  width: 90vw;
  background-color: rgba(217, 217, 217, 0.25);
  border: none;
  filter: drop-shadow(0px 0px 20px rgba(217, 217, 217, 0.25));
  color: rgba(255, 255, 255, 0.5);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}
.form input:focus {
  outline: none;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(217, 217, 217, 0.5);
  transform: translateY(-2px);
  filter: drop-shadow(0px +2px 20px rgba(217, 217, 217, 0.25));
}
.form input:nth-child(2),
.form input:nth-child(3),
.form input:nth-child(4),
.form input:nth-child(5),
.form input:nth-child(6) {
  width: 11vw;
  flex-flow: column;
}

.form button{
    background-color: rgb(0, 209, 255,0.25);
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 10px 20%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    color:  rgb(255, 255, 255,0.5);
}.form button:hover{
    background-color: rgb(0, 209, 255,0.50);
}

@media(max-width: 800px){
  .cadastro{
    width: 50vw;
  }
  }