*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

#inputA{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.divInputs{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.infos{
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease-in-out;
    font-size: 16px;
}
.infos:focus {
    outline: none;
    border-color: #4CAF50;
    box-shadow: 0 0 8px rgba(76, 175, 80, 0.6);
  }

.infos:disabled {
    background-color: #f2f2f2;
    color: #888;
    cursor: not-allowed;
}

.bto{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.divBtt{
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}